Django
djangorestframework
django-cors-headers
cryptography
pycrypto
pymysql
cffi
PyJWT
djangorestframework-simplejwt
pillow
mysqlclient
uwsgi
channels
daphne
opencv-python
numpy
mediapipe
moviepy
pydub
django-ffmpeg
protobuf==3.20.*
